
// Colors
$light-grey: #e1e1e1 !default;
$dark-grey: #333 !default;
$primary-color: #33c3f0 !default;
$secondary-color: lighten($dark-grey, 13.5%) !default;
$testing: #FDC764;
$border-color: #bbb !default;
$link-color: #060503 !default;
$font-color: #060503 !default;
